@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Serif', serif;
}


header {}

header .firsthead {
    background-color: darksalmon;
    padding: 8px;
}


header .firsthead p {
    text-align: center;
}

header .secondhead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 30px;
}

header .secondhead .secondheadpart1 ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-weight: bold;
    padding: 10px 0;
    font-size: 16px;
    text-transform: uppercase;
}

/* header .secondhead .secondheadpart1 ul  #link3  #list2{
   display: flex;
   flex-direction: column;
   display: none;
} */

header .secondhead .secondheadpart3 {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

header .secondhead .secondheadpart3 ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px 0;
}

header .secondhead .secondheadpart3 select {
    font-size: 12px;
    height: 20px;
    border: none;
    color: brown;
    margin: 15px 0;
}

header .secondhead ul li {
    list-style: none;
    text-decoration: none;
}

header .secondhead ul li a {
    color: brown;
    text-decoration: none;
}

header .secondhead .secondheadpart3 ul .fa-solid {
    color: brown;
}


/* ------------------------------------------------------------------------ Main------------------------------------------------------------------------------------------ */

/* ----------------------------------------------------------------------- Main section banniere ------------------------------------------------------------------------ */



main .bannier .bannier-bg {
    width: 100%;
    height: 460px;
    max-height: 800px;
    background-image: url(ImageAcceuil/banniere.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.bannier .bannier-bg .bannier-button {
    color: white;
    background-color: dimgray;
    border-radius: 50px;
    border: 1px solid dimgray;
    width: 110px;
    height: 42px;
    position: absolute;
    top: 355px;
    left: 65px;
}

.bannier p {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 645px;
    bottom: 2px;
    text-align: center;
    box-shadow: 0 0 20px rgb(69, 68, 68);
}

.bannier p .fa-solid {
    position: absolute;
    left: 16px;
    top: 17px;
    margin: auto;
    color: brown;
}

/* -----------------------------------------------------Main section nutriment----------------------------------- */

.nutriment {
    position: relative;
    overflow: hidden;

}

.nutriment h2 {
    padding: 80px;
    padding-bottom: 30px;
    text-align: center;
    color: brown;
}

.nutriment .container {
    display: flex;
    justify-content: center;

}

@keyframes slideimage {
    /* 0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;} */

    0% {
        background-image: url(images/1.jpeg);
        background-size: cover;
    }

    20% {
        background-image: url(images/2.jpeg);
        background-size: cover;
    }

    15% {
        background-image: url(images/3.jpeg);
        background-size: cover;
    }

    20% {
        background-image: url(images/4.jpeg);
        background-size: cover;
    }

    5% {
        background-image: url(images/5.jpeg);
        background-size: cover;
    }

    25% {
        background-image: url(images/6.jpeg);
        background-size: cover;
    }

    50% {
        background-image: url(images/7.jpeg);
        background-size: cover;
    }

    100% {
        background-image: url(images/8.jpeg);
        background-size: cover;
    }
}



.nutriment .container .card {
    width: 260px;
    /* height: 400px; */
    margin: 30px;
}

.nutriment .container .card .img {
    height: 250px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    animation-name: slideimage;
    animation-duration: 5s;
    animation-timing-function: ease;
    /* animation-delay: 4s; */
    /* transition: width 2s; */
    /* animation: myanimate  5s ease; */
}


.nutriment .container .card .para {
    background-color: white;
    width: 70px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 15px;
    font-weight: bold;

}

.nutriment .container .card .img1 {
    background-image: url(ImageAcceuil/organic11.jpeg);
    background-size: cover;
}

.nutriment .container .card .img1:hover {
    background-image: url(ImageAcceuil/organic1.jpeg);
    background-size: cover;
    transition: 2s;
}

.nutriment .container .card .img2 {
    background-image: url(ImageAcceuil/organic2.jpeg);
    background-size: cover;
}

.nutriment .container .card .img2:hover {
    background-image: url(ImageAcceuil/organic3.jpeg);
    background-size: cover;
    transition: 2s;
}

.nutriment .container .card .img3 {
    background-image: url(ImageAcceuil/organic3.jpeg);
    background-size: cover;
}

.nutriment .container .card .img3:hover {
    background-image: url(ImageAcceuil/organic2.jpeg);
    background-size: cover;
    transition: 2s;
}

.nutriment .container .card .img4 {
    background-image: url(ImageAcceuil/organic11.jpeg);
    background-size: cover;
}

.nutriment .container .card .img4:hover {
    background-image: url(ImageAcceuil/organic4.jpeg);
    background-size: cover;
    transition: 2s;
}

.nutriment .container .card h5 {
    /* font-weight: bold; */
    font-size: 20px;
    color: #404040;
}

.nutriment .container .card h5,
.nutriment .container .card p {
    text-align: center;
}

.nutriment .container .card p {
    color: brown;
}

.nutriment .container .card .soulign {
    color: #404040;
    text-decoration: line-through;
}

.nutriment .right,
.nutriment .left {
    color: rgb(232, 229, 229);
    font-size: 2rem;
    position: absolute;
    top: 35%;
    transform: translateY(-40%);

}

.right {
    right: 0.5rem;
}

.left {
    left: 0.5rem;
}


/* ----------------------------------------------------------------------- product ------------------------------------------------------------------------ */

.product {
    margin-top: 50px;
    margin-bottom: 30px;
}

.product .button {
    text-align: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 70px;
}

.product .button .nutriment-button {
    color: white;
    background-color: dimgray;
    border-radius: 30px;
    border: 1px solid dimgray;
    width: 180px;
    height: 50px;
}

.product .productlocal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px;
    gap: 30px;
    margin: 30px;
    position: relative;
    overflow: hidden;
}


.product .productlocal #cook {
    width: 100%;
    background-image: url(ImageAcceuil/chef.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 2s;
}

.product .productlocal #cook:hover {
    transform: scale(1.1);
}

.product .productlocal #breakfast {
    background-image: url(ImageAcceuil/breakfast.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 2s;
}

.product .productlocal #breakfast:hover {
    transform: scale(1.1);
}

.product .productlocal #snacking {
    background-image: url(ImageAcceuil/snacking.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: 2s;
}

.product .productlocal #snacking:hover {
    transform: scale(1.1);
}

.product .productlocal #cook .productpara {
    position: absolute;
    top: 350px;
    left: 50px;
}

.product #breakfast .productpara {
    position: absolute;
    top: 350px;
    left: 490px;
}

.product .productlocal #snacking .productpara {
    position: absolute;
    top: 350px;
    left: 930px;
}

.product .productlocal #cook .productpara h5,
.product .productlocal #breakfast .productpara h5,
.product .productlocal #snacking .productpara h5 {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.product .productlocal #cook .productpara .product-button,
.product .productlocal #breakfast .productpara .product-button,
.product .productlocal #snacking .productpara .product-button {
    color: dimgray;
    background-color: white;
    border-radius: 15px;
    border: 1px solid white;
    padding: 10px 25px;
    margin-top: 20px;
}


.product .agricult .bg-imagricult {
    width: 100%;
    height: 500px;
    background-image: url(ImageAcceuil/grown.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.product .agricult .bg-imagricult .content-paragricult {
    text-align: center;
    background-color: white;
    width: 30%;
    height: 270px;
    margin: auto;
    position: absolute;
    top: 150px;
    left: 450px;
    padding: 40px 30px;
}

.product .agricult .bg-imagricult .content-paragricult h5 {
    font-size: 17px;
    font-weight: bold;
}

.product .agricult .bg-imagricult .content-paragricult p {
    font-size: 15px;
}

.product .agricult .bg-imagricult .content-paragricult .para {
    padding: 20px 0;
}

.product .agricult .bg-imagricult .content-paragricult .para-underline {
    border-bottom: 1px solid black;
}

.product .agricult .bg-imagricult .content-paragricult .para-underline:hover {
    border-bottom: none;

}

/* ----------------------------------------------------------------------- Customer ------------------------------------------------------------------------ */


.customer-speak {
    background-color: whitesmoke;
    /* padding: 50px 260px; */
    padding: 50px 260px 0 260px;
    position: relative;
    overflow: hidden;
}


.customer-speak .customer .para-customer #red {
    text-align: center;
    color: #b30000;
    font-weight: bold;
    font-size: 28px;
    word-spacing: 0.2rem;
}

.customer-speak .customer .para-customer #blue {
    text-align: center;
    color: #121254;
    font-weight: bold;
    font-size: 30px;
}



.customer-speak .right {
    color: rgb(232, 229, 229);
    font-size: 2rem;
    position: absolute;
    top: 35%;
    right: 10rem;
    transform: translateY(-40%);
}

.customer-speak .left {
    color: rgb(232, 229, 229);
    font-size: 2rem;
    position: absolute;
    top: 35%;
    left: 10rem;
    transform: translateY(-40%);
}

.customer-speak .customer-product .product-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px;
    gap: 7px;
    padding-top: 25px;
    position: relative;
    overflow: hidden;
    /* animation: slider 12s infinite ease-in-out; */
}

@keyframes slider {
    0% {
        transform: translateX(2em);
    }

    11% {
        /* transform: translateX(5); */
        transform: translateX(10em);
    }

    12% {
        transform: translateX(5);
    }

    11% {
        transform: translateX(5);
    }

    11% {
        transform: translateX(5);
    }

    11% {
        transform: translateX(5);
    }

    11% {
        transform: translateX(5);
    }

    11% {
        transform: translateX(5);
    }

    11% {
        transform: translateX(5);
    }

    100% {
        transform: translateX(5);
    }
}

.customer-speak .customer-product .product-item .items img {
    width: 250px;
    height: 220px;
    position: relative;
    /* overflow: hidden; */
    animation: slider 12s 2 normal;
}

.customer-speak .customer-product .product-item .items .para-customer {
    text-align: center;
    padding-top: 7px;
}

.customer-speak .customer-product .product-item .items .para-customer h5 {
    color: #121254;
    font-size: 18px;
    font-weight: bold;
    /* text-align: start; */
}

.customer-speak .customer-product .product-item .items .para-customer h6 {
    color: #b30000;
    font-size: 16px;
    font-weight: bold;
    padding-top: 17px;
}

.customer-speak .customer-product .product-item .items .para-customer p i {
    color: #f6a2b3;
}

.customer-speak .customer-product .product-item .items .para-customer #p1 {
    font-size: 18px;
}

.customer-speak .customer-product .product-item .items .para-customer span {
    font-size: 15px;
}

/* ----------------------------------------------------------------------- delicious ------------------------------------------------------------------------ */

.delicious {
    margin: 70px 0;
}

.delicious .delicious-recipes {
    width: 100%;
    height: 670px;
    background-image: url(ImageAcceuil/bannire-delicious.jpeg);
    background-size: cover;
    background-position: center center;
    padding: 40px 200px;
    position: relative;
    overflow: hidden;
}

.delicious .delicious-recipes h3 {
    text-align: center;
    color: #b30000;
    padding-bottom: 35px;
}

.delicious .delicious-recipes button {
    text-align: center;
    position: absolute;
    left: 650px;
    background-color: white;
    padding: 8px 17px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 50px;
}

.delicious .delicious-recipes .delicious-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px;
    gap: 80px;
    position: relative;
    overflow: hidden;
    /* background-color: white; */
}

.delicious .delicious-recipes .delicious-list .delicious-item img {
    width: 270px;
    height: 250px;
    position: relative;
    overflow: hidden;
}

.delicious .delicious-recipes .delicious-list .delicious-item .paradelicious {
    background-color: white;
    position: absolute;
    top: 250px;
    padding: 10px;
}

.delicious .delicious-recipes .delicious-list .delicious-item #para1 {
    padding: 10px 49px 10px 10px;
}


.delicious .delicious-recipes .delicious-list .delicious-item #para2 {
    padding: 10px 65px 10px 10px;
}

.delicious .delicious-recipes .delicious-list .delicious-item .paradelicious p {
    color: whitesmoke;
}

/* ----------------------------------------------------------------------- about-us ------------------------------------------------------------------------ */

.about-us {
    margin-bottom: 70px;
}

.about-us .about .content1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
    padding: 0 70px;
}

.about-us .about .content1 img {
    width: 550px;
    height: 500px;
}

.about-us .about .content1 .aboutpara {
    padding-top: 200px;
}

.about-us .about .aboutpara #heading1 {
    margin-bottom: 30px;
    color: #b30000;
}

.about-us .about .aboutpara p {
    font-size: 15px;
    line-height: 1.2rem;
    color: grey;
}

.about-us .about .aboutpara #heading2 {
    margin-top: 40px;
    color: #b30000;
}

.about-us .about .content2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px;
    gap: 20px;
    padding: 50px 530px 0 530px;
}

.about-us .about .content2 a {
    text-decoration: none;
    color: grey;
}

.about-us .about .content2 #link1 {
    text-decoration: underline;
    color: #b30000;
    font-weight: bolder;
    font-size: 20px;
}

/* ----------------------------------------------------------------------- join ------------------------------------------------------------------------ */

.join .join-part {
    width: 100%;
    height: 470px;
    background-image: url(ImageAcceuil/banniere-familly.jpeg);
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-position: center center;
}

.join .join-part .join-content {
    text-align: center;
    color: white;
    padding: 150px 0;
}

.join .join-part .join-content .join1 p {
    padding: 30px 0;
    font-size: 15px;
    line-height: 1.2rem;
}

.join .join-part .join-content .join2{
    display: flex;
    flex-direction: row;
} 

.join .join-part .join-content .join2 input {
    width: 380px;
    height: 46px;
    border: 1px solid #009999;
    border-radius: 10px;
    outline: none;
}

.join .join-part .join-content .join2 input::placeholder {
    padding-left: 15px;
}

.join .join-part .join-content .join2 button {
    width: 120px;
    height: 46px;
    background-color: white;
    border: 1px solid white;
    border-radius: 17px;
    margin-left: 15px;
}

/* ----------------------------------------------------------------------- footer ------------------------------------------------------------------------ */

footer .lastpart {
    width: 100%;
    height: 400px;
    background-color: #f1baa7;
    padding: 40px 80px;
}

footer .lastpart .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 600px;
}

footer .lastpart .content .content1 #heading1 {
    padding-bottom: 15px;
    color: rgb(53, 52, 52);
    word-spacing: 0.2rem;
}

footer .lastpart .content .content1 p {
    padding-bottom: 25px;
    color: rgb(53, 52, 52);
    font-size: 16px;
    line-height: 1.2rem;
}

footer .lastpart .content .content1 #heading2 {
    padding: 20px 0;
    color: rgb(53, 52, 52);
    word-spacing: 0.2rem;
}

footer .lastpart .content .content1 ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

footer .lastpart .content .content1 ul li {
    list-style: none;
}

footer .lastpart .content .content1 ul li a {
    color: rgb(53, 52, 52);
}


footer .lastpart .content .content1 .site-item{
    display: flex;
    flex-direction: row;
    gap: 45px;
 }

 footer .lastpart .content .content1  .site-item ul{
    display: flex;
    flex-direction: column;
 }

 footer .lastpart .content .content1  .site-item ul a{
    text-decoration: none;
    font-size: 15px;
    color: #b30000;
    font-weight: bolder;
 }

 footer .lastpart .content .content1  .site-item ul a:hover{
    color: rgb(53, 52, 52);
 }

 footer .lastpart .content .content1 .submision{
  display: flex;
  flex-direction: column;
  gap: 20px;
 }

 footer .lastpart .content .content1 .submision input{
    width: 250px;
    height: 45px;
    border: 1px solid grey;
    border-radius: 6px;
    outline: none;
   }

   footer .lastpart .content .content1 .submision input::placeholder{
     padding-left: 15px;
   }

   footer .lastpart .content .content1 .submision button{
    width: 120px;
    height: 45px;
    border: 1px solid grey;
    border-radius: 15px;
    background-color: dimgrey;
    color: white;
   }


footer .lastpart1 {
    padding-left: 50px;
    padding-top: 30px;
}

footer .lastpart1 select {
    color: grey;
    border: none;
    font-weight: bolder;
    margin-bottom: 22px;
    text-transform: uppercase;
}

footer .lastpart1 p {
    margin-top: 8px;
    font-size: 15px;
}